.panel-collapse {
  max-height: 85vh;
  overflow: hidden;
  transition: max-height 1s ease;
}
.panel-close {
  max-height: 0;
}
.coll {
  margin-top: 5vh;
}
.panel-title {
  width: 80vw;
  text-align: center;
}
.coll div {
  width: 25%;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.all {
  display: flex;
  flex-direction: column;
}
h6 {
  font-size: 50px;
  cursor: pointer;
  height: 40px;
  margin-bottom: "50px";
  color: #20a8d8;
}
