* {
  margin: 0;
}
#JobOffermain {
  height: 100vh;
  margin: 0;
}
#seachNav {
  margin: 0;
  height: 7%;
  background-color: white;
}
#seachNav input {
  border: 1px solid rgb(186, 191, 206);
  height: 4vh;
}
#seachNav button {
  height: 4vh;
}
#MainOffer {
  width: 100vw;
  height: 85.9%;
  background-color: #e4e7ea;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#MainOfferHolder {
  width: 70vw;
  height: 98%;
  background-color: white;
}
#jobOfferCompNav {
  width: 100%;
  height: 8%;
  border-bottom: 2px solid #e4e7ea;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#jobOfferCompNav select {
  width: 13%;
  height: 55%;
  padding: 5px;
  text-align-last: center;
  font-size: 17px;
  border: 1px solid #abacad;
  border-radius: 4px 4px 4px 4px;
}
#jobOfferCompNav select option:first-child {
  font-size: 25px;
}

#jobOfferCompNav select option {
  background-color: #e4e7ea;
  border: 1px solid black;
  margin: 10px;
}
#miniOffers {
  width: 100%;
  height: 92%;
  display: flex;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
}
.miniJobDesc {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

div::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
div::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div::-webkit-scrollbar-thumb {
  background: #888;
}
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.companyCompo {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 150px;
  text-align: left;
  transition: 0.2s;
}
.companyCompo:nth-child(even) {
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
.companyCompo:first-child {
  border-top: 1px solid #9b9b9b;
}
.companyCompo:hover {
  box-shadow: 0px 10px 12px #888, 0px -10px 12px #888;
  transition: 0.2s;
}
.companyPhoto {
  width: 70px;
  height: 70px;
  background-color: thistle;
  position: relative;
  top: 10px;
  left: 10px;
}
.jobMiniDescription {
  width: 70%;
  height: 100px;
  position: relative;
  top: 5px;
  left: 100px;
}
#companyCover {
  width: 100%;
  height: 20vh;
  background-color: thistle;
  padding: 0;
  position: relative;
}
.jobBigDescription {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 50%;
  height: 150px;
}
#applyBtn {
  width: 30%;
  height: 40px;
  background-color: white;
  border: 1px solid thistle;
  font-size: 25px;
  color: thistle;
  transition: 0.3s;
}
#applyBtn:hover {
  background-color: thistle;
  border: 1px solid white;
  color: white;
  transition: 0.3s;
}
.bordBtm {
  border-bottom: 1px solid #9b9b9b;
  box-shadow: 0px 6px 20px rgb(150, 150, 150);
}
#jobDis {
  font-size: 19px;
  padding: 50px;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}
