.fullCompanyProfile {
  border: "1px solid black";
}
.dashBordJobPlace {
  border: 1px solid black;
  border-radius: 22% 0 0 0;
  padding: 5px;
}
.jobDescriptionDashboard {
  border: 1px solid black;
  position: relative;
}
.jobDescrpPlace {
  height: 72vh;
}
.jobDescrpPlace {
  border: 1px solid black;
  height: 16.5vh;
}
.jobInformation {
  width: 100%;
  height: 80vh;
}
.jobDescription {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nestedJobDescription {
  height: 45vh;
  width: 80%;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 30px;
}
#modal {
  background-color: #f0f3f5;
  height: 60vh;
  width: 20vw;
  position: relative;
  top: 10vh;
  overflow-y: scroll;
  border-radius: 10px 10px 10px 10px;
}
#AllModal {
  width: 100vw;
  height: 100vh;
  background-color: #2f353a9f;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}
#modal h1 {
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 1px solid rgb(105, 105, 105);
  padding: 10px;
}
#modal h1:hover {
  transform: scale(1.09);
  transition: 0.3s;
}
